@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
*{	
	margin: 0;
	padding: 0;
	font-family: 'Fjalla One', sans-serif;

}

html {
  background: url(http://wallpaperswide.com/download/follow_the_sun-wallpaper-1920x1080.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
	article{
		width: 50%;
		vertical-align: 0;
		position: relative;
		top:50%;
		left: 25%;
		height: 100%;
		font-size: 1.2em;
		color: white;
	}


header{
	background-color: #96ceb4;
	padding: 1em;
	width: 100%;
}

h2{
	font-size: 2em;
}

footer{
	position: absolute;
	background-color: #ff6f69;
	color:white;
	height: 30px;
	width: 100%;
	left: 0;
	bottom:0;
	text-align: center;
	padding: 1em;
	vertical-align: center;
	font-size: 1.5em;
	-webkit-box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.6);
box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.6);

}

.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

