/*font-family: 'Montserrat', sans-serif;
font-family: 'Allerta', sans-serif;

*/
body{
	font-family: 'Allerta', sans-serif;	
}

*{
	margin: 0;
	padding:0;
}

.titulo{
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
	margin-bottom: 0px;
	margin-top: 70px;
}

.title-a{
	margin-top: 0;
	font-size: 24px;
}
.guitarra{
	color:#1F313C;	
	margin:10px;
	padding: 10px;
	border: 1px solid #1F313C;
	border-radius: 0.5em;
}
.guitarras h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	margin: 30px;
}

.right {
	float: right;
	position: relative;
	top:-173px;
}

.left{
	float: left;
	position: relative;
	top:80px;

}

.title-b{
	font-size: 50px;
	margin-bottom: 20pX;
	margin-top: 20px;
}

.portada{
	background-image: url("../images/background.png");
	color:white;
	padding: 20px;
}

.menu{
	display:inline-block;
	font-size: 24px;
	position: absolute;
	right: 0;
}

.menu li{
	display: inline-block;
	margin-left: 30px;
}

.logotipo{
	display: inline-block;
}

.portada button{
	margin-bottom: 70px;
}


.contenedor{
	margin: auto;
	width: 800px;
}

.contenedor-guitarra-a{
	padding-left: 20px;

}

.contenedor-guitarra-b{
	margin-left: 370px;
}

.header{
	position: relative;
}

.button{
	border-radius: 5px;
	background-color: #fd324e;
	color:white;
	border: none;
	padding: 7px;
}

.footer{
	background: #273b47;
}

.contacto{
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-items: center;
}
.contacto img{
	display: block;
	margin: 10px;

}

.contacto strong{
	display: block;
}

.contacto a{
	color: white;
	text-decoration: none;
	margin:10px 10px 10 px 0;
}

footer .contenedor{
	display: flex;
	justify-content: space-between;
}

.formulario{
	display: flex;
	width: 400px;
	color: white;
	margin:  50px 10px;
}

.col1, .col2{
	display: flex;
	flex-direction: column;

}

.col1{
	margin-right: 15px;
}
.col2{
	align-items: flex-start;
}

.intereses label{
	font-size: 13px;
}

.formulario label , .sexo, .intereses{
	margin-bottom: 10px;
}

.sexo {
	margin-top: 10px;
}
table{
	width: 100%;
	border-collapse: collapse;
}
td{
	padding:15px;
}
th{
	background-color: #273b47;
	color: white;
	padding: 10px;
}

table, td, tg{
	border: 1px solid #273b47;
}