body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #515151;

}
a{
	color: #515151;
}
header{
	background:  #273b47;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 0 10px;
}

nav{
	font-weight: 400;
	height: inherit;
	
}
nav ul{
	display: flex;
	height: inherit;
	margin: 0;
}

nav li{
	list-style: none;
	color: white;
	height: inherit;
	display: flex;
	align-items: center;
}
nav li:after{
	content: "|";
	display: inline-block;
	margin: 0 ;
}

nav li:last-child:after{
	display: none;
}

nav a{
	color:white;
	display: flex;
	text-decoration: none;
	height: inherit;
	align-items: center;
	padding: 0 10px;
}


nav a.is-active{
	box-shadow: inset 0px 5px 0 green;
}
nav a:hover{
		box-shadow: inset 0px 5px 0 red;
	/*border-top:5px solid red;*/
}

h1{
	margin:0;
	font-weight: 600;
	margin-bottom: 15px;
}
.portada{
	position: relative;
}
.header-right{
	height: inherit;
	display: flex;
	align-items: center;
}

.header-right .button{
	margin-left: 10px;
}

.portada .description{
	background: rgba(255,255,255,0.7);
	position: absolute;
	bottom: 30px;
	left: 20px;
	padding: 20px;
}

.button{
	background: grey;
	box-shadow: inset 0 -5px 0 rgba(0,0,0,0.3);
	font-size: 14px;
	padding: 5px 10px 10px;
	text-decoration: none;
	color: white;
	transition: 0.2s;
	border-radius: 5px;
}
.button:focus{
	transform: scale(0.9);

}

.button.red{
	background: #ff4875;
}
.blog{
	width: 800px;
	margin: 0 auto;
}

.blog-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.blog-item h3{
	font-weight: 700;
	margin: 0, 10px;
	margin-bottom: 10px;
}
.item-blog{
	width: 250px;
}

.blog-items .description{
	padding: 10px 0;
	text-align: left;
	margin-bottom: 15px;
}

.paginador{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;

}

.paginador ul{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0
	margin-left:10px;
}

.paginador li{
	background: #eaeaea;
	line-height: 40px;
	height: 40px;
	padding: 0 10px;
	margin: 0 10px;
	border: 1px solid gray;
}

.paginador a{
	text-decoration: none;
}

.paginador .selected{
	border-color: transparent;
	background: white;
}

.autor{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid lightgrey;
	padding-top: 10px;
	font-size: 13px;

}

.autor img{
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 15px;
}

.autor p{
	margin:; 0;

}

